main {
    text-align: center; 
   /* vertical-align: center;  */
     /* display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
        height: '100vh', */
  /* line-height: 100vh  */
}