input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.outer{
       display: flex;
  align-items: center; 
  justify-content: center;
  text-align:center;
  }

.inner{
  border:2px solid black;
      height:400px;
  width:400px;   
  padding:20px
}